@page
@model AutenticacionModel
@{
    ViewData["Title"] = "Autenticación";
}

<form method="post">
    <div class="mb-3">
        <label for="Email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="correo@ejemplo.com" required>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Contraseña" required>
    </div>

    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

@if (Model.Mensaje != null)
{
    <p>@Model.Mensaje</p>
}