@page
@model ReenviarPasswordModel
@{
    ViewData["Title"] = "Reenvío de Password";
}

<form method="post">
    <div class="mb-3">
        <label for="Email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="correo@ejemplo.com" required>
    </div>

    <button type="submit" class="btn btn-primary">Recuperar Contraseña</button>
</form>

@if (Model.Mensaje != null)
{
    <p>@Model.Mensaje</p>
}